<section class="bsb-blog-5 py-3 py-md-5 py-xl-8">
  <div class="container">
      <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class=" mb-4 mb-md-5 text-center">Adopt A Pet</h2>
          <hr class="w-50 mx-auto mb-4 mb-md-5 border-dark-subtle">
      </div>
      </div>
  </div>

<div class="container mb-5">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-xxl-6">
            <%= form_tag(pets_for_adoption_path, method: :get) do %>
                <div class="row">
                    <div class="col-6 col-lg">
                        <label><strong>Type</strong></label><br>
                        <%= select_tag :type, options_for_select([ 'Cat', 'Dog'], params[:type]), { prompt: 'Select Type', class: 'form-control' } %>
                    </div>
                    
                    <div class="col-6 col-lg">
                        <label><strong>Size</strong></label><br>
                        <%= select_tag :size, options_for_select(['Small', 'Medium', 'Large'], params[:size]), { prompt: 'Select Size', class: 'form-control' } %>
                    </div>

                    <div class="col-6 col-lg">
                        <label><strong>Gender</strong></label><br>
                        <%= select_tag :gender, options_for_select(['Male', 'Female'], params[:gender]), { prompt: 'Select Gender', class: 'form-control' } %>
                    </div>

                    <div class="col-6 col-lg">
                        <label><strong>Age</strong></label><br>
                        <%= select_tag :age, options_for_select(['Baby', 'Young', 'Adult', 'Senior'], params[:age]), { prompt: 'Select Age', class: 'form-control' } %>
                    </div>

                    <div class="col-12 col-lg">
                        <label></label><br>
                        <%= submit_tag "Filter", class: 'w-100 btn btn-primary' %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>


  <div class="container overflow-hidden">
      <div class="row gy-4 gy-md-5 gx-xl-6 gy-xl-6 gx-xxl-9 gy-xxl-9">
        <% if @pets.empty? %>
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    No pets found.
                </div>
            </div>
        <% else %>
            <% @pets.each do |pet| %>
                <%= render 'pet', pet: pet %>
            <% end %>
            <% if @total_pages > 1 %>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                <% if @current_page > 1 %>
                    <li class="page-item">
                    <%= link_to 'Previous', pets_for_adoption_path(type: params[:type], age: params[:age], size: params[:size], gender: params[:gender],page: @current_page - 1), class: 'page-link' %>
                    </li>
                <% end %>
                
                <% if @current_page < @total_pages %>
                    <li class="page-item">
                    <%= link_to 'Next', pets_for_adoption_path(type: params[:type], age: params[:age], size: params[:size], gender: params[:gender],page: @current_page + 1), class: 'page-link' %>
                    </li>
                <% end %>
                </ul>
                <div class="text-end">
                    <p>Powered by Petfinder</p>
                </div>
            </nav>
            <% end %>
        <% end %>
      </div>
  </div>
</section>