<% if subcategory.persisted? %>
  <%= form_with(model: subcategory, url: admins_category_subcategory_path(@category, subcategory)) do |form| %>
    <div class="d-flex">
        <div class="mb-3">
        <%= form.text_field :name, class: "form-control", required: true %>
        </div>
        <div class="ms-2">
            <%= form.button type: :submit, class: "btn btn-primary btn-sm" do %>
            <i class="fas fa-save"></i>
            <% end %>

            <button type="button" class="btn btn-secondary btn-sm" id="cancelEdit">
            <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
  <% end %>
<% else %>
  <%= form_with(model: subcategory, url: admins_category_subcategories_path(@category), class: "mb-4") do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>
    <%= form.submit "Create Subcategory", class: "btn btn-primary" %>
  <% end %>
<% end %>