<div class="container dashboard" style="margin-top: 10%;">
    <div class="row">
        <div class="col-2">
            <%= render 'shared/sidebar' %>
        </div>
        <div class="col-10">
            <!-- Table 1 - Bootstrap Brain Component -->
            <section class="py-3 py-md-5">
            <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9 col-xl-8">
                <div class="card widget-card border-light shadow-sm">
                    <div class="card-body p-4">
                    <h5 class="card-title widget-card-title mb-4"><%= @category.name %>-Subcategories</h5>

                    <div>
                        <%= render 'subcategory_form', subcategory: @category.subcategories.build %>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-borderless bsb-table-xl text-nowrap align-middle m-0">
                        <thead>
                            <tr>
                            <th>Name</th>
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @subcategories.each do |subcategory| %>
                                <% if subcategory.persisted? %>
                                    <tr>
                                        <td>
                                            <p class="subcategory-name" style="display: block;"><%= subcategory.name %></p>
                                            <div class="edit-subcategory-form" style="display: none;">
                                                <%= render 'subcategory_form', subcategory: subcategory %>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-sm btn-outline-primary">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <%= link_to admins_category_subcategory_path(@category, subcategory), data: { "turbo-method": :delete,"turbo-confirm": "Are you sure?" }, class: "btn btn-sm btn-outline-danger" do %>
                                            <i class="fas fa-trash"></i>
                                            <% end %>
                                        </td>
                                    </tr>
                                <% end %>
                            <% end %>
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            </section>
        </div>
    </div>
</div>
